<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Pizzeria Mozzeronni</title>
        <meta name="keywords" content="pizza, pizzerie, băuturi, transport la domiciliu, București">
        <meta name="description" content="Pizza :D">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <label> Nume: <input type="text" id="inp-nume"></label>
        <label> Ingrediente: <input type="text" id="inp-ingrediente"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <div> Gramaj:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <p><label>Mic (calorii &lt; 350)
                <input id="i_rad1"  name="gr_rad" value="0:350" type="radio"/>
            </label></p>
            <p><label>Mediu (350 &le; calorii &lt; 700)
                <input id="i_rad2"  name="gr_rad" value="350:750" type="radio"/>
            </label>
            <p><label>Mare (700 &le; calorii)
                <input id="i_rad3" name="gr_rad" value="700:1000000000" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
            </label>
        </div>

        <div id = "check-dimensiune"> Dimensiune:
            <% for (let opt of locals.optiuni) { %>
                <p><label><%- opt.unnest %>
                    <input checked name="gr_check" value="<%- opt.unnest %>" type="checkbox"/>
                </label>
            <% } %>
        </div>


        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-dimensiune">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        <br/>
        <label>Select multiplu:
            <select id="inp-dimensiune2", multiple>
                <option id="sel-niciuna" selected value="niciuna">niciuna</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <p>
        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
        <button id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
        
        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="sos">Sos: <span class="val-sos"><%- prod.sos%></span></p>
                            <p class="gramaj">Gramaj: <span class="val-gramaj"><%- prod.gramaj%></span></p>
                            <p class="ingrediente">Ingrediente: <span class="val-ingrediente"><%- prod.ingrediente%></span></p>
                            <p class="data">Data Adaugare: <time class="data-adaug"><%- prod.data_adaugare%></time></p>
                            <p class="pt-diabetici">Pentru Vegetarieni: <span class="pentru-vegetarieni"><%- prod.pt_vegetarieni == true? "DA" : "NU"%></span></p>
                        </div>
                        <p class="dimensiune">Dimensiune:<span class="val-dimensiune"><%- prod.dimensiune_pizza%></span></p>
                        <p class="descriere-prod">Descriere:<span class="descriere-produs"><%- prod.descriere%></span></p>
                        <figure class="imagine-prod">
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:100%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>
