<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Pizzeria Mozzeronni</title>
        <meta name="keywords" content="pizza, pizzerie, băuturi, transport la domiciliu, București">
        <meta name="description" content="Pizza :D">
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Ingrediente: <span class="ingrediente"><%- locals.prod.ingrediente %> </span></p>
                    <p>Sos: <span class="sos"><%- locals.prod.sos %> </span></p>
                    <p>Gramaj: <span class="gramaj"><%- locals.prod.gramaj %> </span></p>
                    <p>Dimensiune Pizza: <span class="dimensiune_pizza"><%- locals.prod.dimensiune_pizza %> </span></p>
                    <p>Pentru Vegetarieni: <span class="pt_vegetarieni"><%- locals.prod.pt_vegetarieni %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>
